In [9]:
import pandas as pd 

zillow_df = pd.read_csv("../lessons/lesson-03/assets/dataset/zillow-02-start.csv")

In [5]:
%pwd

u'/Users/nicolai/code/datascience/DAT-NYC-37/Notes'

In [49]:
zillow_df.head() # top 5 
zillow_df.tail(5); # bottom 5

In [21]:
zillow_df.describe()

,ID,Latitude,Longitude,SalePrice,BedCount,BathCount,Size,LotSize,BuiltInYear
count,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,836.000000,942.000000,967.000000,556.000000,975.000000
mean,1.591666e+08,3.775959e+07,-1.224348e+08,298264.042160,2.572967,1.977548,1641.300931,2809.112770,1947.533333
std,4.928856e+08,2.531078e+04,3.157521e+04,381637.332787,1.250891,1.130334,1027.016175,1097.087521,38.021563
min,1.506347e+07,3.770844e+07,-1.225106e+08,1.000000,1.000000,1.000000,264.000000,0.280000,1870.000000
25%,1.512042e+07,3.773848e+07,-1.224535e+08,1.350000,NaN,NaN,NaN,NaN,NaN
50%,1.516415e+07,3.776023e+07,-1.224317e+08,2.500000,NaN,NaN,NaN,NaN,NaN
75%,6.739436e+07,3.777999e+07,-1.224098e+08,718500.000000,NaN,NaN,NaN,NaN,NaN
max,2.136214e+09,3.780543e+07,-1.223712e+08,999000.000000,9.000000,14.000000,11500.000000,10454.000000,2015.000000

In [24]:
zillow_df.dtypes

ID                 int64
Address           object
Latitude           int64
Longitude          int64
DateOfSale        object
SalePrice        float64
SalePriceUnit     object
IsAStudio         object
BedCount         float64
BathCount        float64
Size             float64
SizeUnit          object
LotSize          float64
LotSizeUnit       object
BuiltInYear      float64
dtype: object

In [29]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
ID               1000 non-null int64
Address          1000 non-null object
Latitude         1000 non-null int64
Longitude        1000 non-null int64
DateOfSale       1000 non-null object
SalePrice        1000 non-null float64
SalePriceUnit    1000 non-null object
IsAStudio        986 non-null object
BedCount         836 non-null float64
BathCount        942 non-null float64
Size             967 non-null float64
SizeUnit         967 non-null object
LotSize          556 non-null float64
LotSizeUnit      556 non-null object
BuiltInYear      975 non-null float64
dtypes: float64(6), int64(3), object(6)
memory usage: 117.3+ KB

In [33]:
zillow_df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'BedCount', u'BathCount',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [43]:
zillow_df[["Address","Latitude","Longitude", "DateOfSale", "BedCount"]].head()

,Address,Latitude,Longitude,DateOfSale,BedCount
0,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,1.0
1,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,NaN
2,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,2.0
3,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.0
4,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,2.0

In [46]:
zillow_df[["Address","Latitude","Longitude", "DateOfSale", "BedCount"]].iloc[5:10]

,Address,Latitude,Longitude,DateOfSale,BedCount
5,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,2.0
6,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,1.0
7,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,3.0
8,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,NaN
9,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.0

In [64]:
new_zillow_df=zillow_df.set_index("ID")
new_zillow_df

,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,BedCount,BathCount,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

In [59]:
new_zillow_df.index

Int64Index([  15063471,   15063505,   15063609,   15064044,   15064257,
              15064295,   15064391,   15064536,   15064640,   15064669,
            ...
            2108546010, 2114498518, 2121221385, 2121978635, 2122992200,
            2124214951, 2126960082, 2128308939, 2131957929, 2136213970],
           dtype='int64', name=u'ID', length=1000)

In [65]:
new_zillow_df.loc[15063471]

Address          55 Vandewater St APT 9, San Francisco, CA
Latitude                                          37805103
Longitude                                       -122412856
DateOfSale                                         12/4/15
SalePrice                                           710000
SalePriceUnit                                            $
IsAStudio                                            False
BedCount                                                 1
BathCount                                              NaN
Size                                                   550
SizeUnit                                              sqft
LotSize                                                NaN
LotSizeUnit                                            NaN
BuiltInYear                                           1980
Name: 15063471, dtype: object

In [70]:
new_zillow_df.loc[15063471:15064669, ["Address", "Latitude", "Longitude"]]

                                             Address  Latitude  Longitude
ID
15063471   55 Vandewater St APT 9, San Francisco, CA  37805103 -122412856
15063505         740 Francisco St, San Francisco, CA  37804420 -122417389
15063609         819 Francisco St, San Francisco, CA  37803728 -122419055
15064044    199 Chestnut St APT 5, San Francisco, CA  37804392 -122406590
15064257  111 Chestnut St APT 403, San Francisco, CA  37804240 -122405509
15064295  111 Chestnut St APT 702, San Francisco, CA  37804240 -122405509
15064391   1821 Grant Ave APT 101, San Francisco, CA  37803748 -122408531
15064536      2300 Leavenworth St, San Francisco, CA  37802408 -122417537
15064640     1047-1049 Lombard St, San Francisco, CA  37801889 -122418704
15064669      1055 Lombard St # C, San Francisco, CA  37801873 -122418834